#myTable_wrapper{
  margin-bottom:2rem;
  
  select{
    width:54px;
    margin-left:4px;
    margin-right:4px;    
  }

  #myTable{
    font-size:80%;
    padding-top:2rem;
    padding-bottom:2rem;
    
    th{
      padding: 8px 10px;
    }

    tr.even{
      background:#f3f3f3;
    }   

    .fluid-width-video-wrapper object{
      position:relative;
    }
  }
}

#actor{

  margin-bottom:2rem;
  
  .actor-navigation{
    display:flex;
    justify-content:flex-end;
    a{
      padding-left:1rem;
    }
  }
          
  .actor-information{
    .wrapper-info{
      margin:1.5rem 0;
    }
    h3, h6, img{      
      margin-bottom:.5rem;
    }
    a{
      color:black;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
    object{      
      padding-bottom:.5rem;
    }

  }
}